@font-face {
  src: url("./fonts/Montserrat-Bold.ttf");
  font-family: "Montserrat";
  font-weight: 700;
}

@font-face {
  src: url("./fonts/Montserrat-Medium.ttf");
  font-family: "Montserrat";
  font-weight: 500;
}

@font-face {
  src: url("./fonts/Montserrat-Regular.ttf");
  font-family: "Montserrat";
  font-weight: 400;
}

/* #region common */
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  background-color: #f1f2f2;
}

.main {
  flex: 1 1 auto;
}

.wrap {
  padding: 0 16px;
  box-sizing: border-box;
}

.text_lg {
  font-weight: 700;
  font-size: clamp(21px, 2cqi, 40px);
  line-height: 1.2;
  text-transform: uppercase;
  color: #00008b;
}

.text_md {
  font-weight: 500;
  font-size: clamp(20px, 2cqi, 30px);
}

.text_sm {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
}

.flex {
  display: flex;
  justify-content: center;
}

.left {
  padding-right: 30px;
  width: 30%;
  box-sizing: border-box;
  text-align: right;
}

.right {
  width: 60%;
}

.telorange {
  position: fixed;
  right: 48px;
  bottom: 48px;
  width: 68px;
  transition: all 0.1s linear;
}

.telorange:hover {
  transform: translateY(3px);
}

/* #endregion */
/* #region header */
.header {
  width: 100%;
  height: 60px;
  background-color: #161618;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__phone {
  display: flex;
}

.header__phone_img {
  margin-right: 14px;
  width: 18px;
}

.header__tel {
  font-size: 18px;
  color: #f1f2f2;
  transition: all 0.1s linear;
}

.header__tel:hover {
  color: #ff6600;
}

.logo {
  display: flex;
  align-items: center;
  height: 60px;
}

.logo__img {
  height: 57%;
}

.logo * {
  fill: #f1f2f2;
  stroke: #f1f2f2;
}

/* #endregion */
/* #region about */
.about {
  padding: 106px 0;
  box-sizing: border-box;
}

.about__content {
  display: flex;
}

.about__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 65px;
  width: 50%;
  box-sizing: border-box;
}

.about__title {
  margin: 0 0 65px 0;
  line-height: 150%;
  text-align: center;
}

.about__phone {
  display: flex;
}

.about__phone_img {
  margin-right: 8px;
  width: clamp(20px, 2cqi, 34px);
}

.about__tel {
  color: #00008b;
  transition: all 0.1s linear;
}

.about__tel:hover {
  color: #ff6600;
}

.about__rigth {
  width: 50%;
}

/* #endregion */
/* #region advert */
.advert {
  margin-bottom: 80px;
  padding: 1px 65px;
  box-sizing: border-box;
  background-color: #161618;
}

.advert__text {
  font-weight: 400;
  color: #f1f2f2;
}

/* #endregion */
/* #region gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 106px 0;
  box-sizing: border-box;
  gap: 32px;
}

/* #endregion */
/* #region descr */
.descr {
  padding-bottom: 65px;
  box-sizing: border-box;
}

.descr__one {
  margin-bottom: 65px;
}

.descr__left {
  border-right: 2px solid #00008b;
}

.descr__title {
  margin: 0;
}

.descr__more {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descr__more_mob {
  padding-bottom: 80px;
  box-sizing: border-box;
}

/* #endregion */
/* #region price */
.price {
  padding: 65px 0;
  box-sizing: border-box;
  background-color: #f6f6f6;
}

.price__left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.price__tel {
  font-size: 28px;
  color: #161618;
}

.price__tel:hover {
  color: #ff6600;
}

/* #endregion */
/* #region about-us */
.aboutus {
  padding: 65px 0;
  box-sizing: border-box;
}

.aboutus__one {
  margin-bottom: 65px;
}

.aboutus__title {
  text-transform: capitalize;
}

.aboutus__text {
  margin-top: 0;
}

.aboutus__phone {
  display: flex;
  justify-content: center;
  padding: 65px 16px 0 16px;
  box-sizing: border-box;
}

/* #endregion */
/* #region footer */
.footer {
  display: flex;
  align-items: center;
  height: 80px;
  box-sizing: border-box;
  background-color: #161618;
}

.footer__copy {
  font-size: 12px;
  color: #f1f2f2;
}

/* #endregion */
/* #region media */
@media (max-width: 992px) {
  .flex {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
    text-align: left;
  }

  .header {
    height: 60px;
  }

  .about {
    padding: 65px 0;
  }

  .about__content {
    flex-direction: column;
  }

  .about__title {
    margin: 0 0 40px 0;
  }

  .about__left,
  .about__rigth {
    width: 100%;
  }

  .about__left {
    display: flex;
    align-items: center;
    margin-bottom: 54px;
    padding: 0;
  }

  .advert {
    margin-bottom: 65px;
    padding: 1px 16px;
  }

  .advert__text {
    font-size: 24px;
    text-align: left;
  }

  .gallery {
    padding: 65px 0 106px 0;
  }

  .descr__left {
    margin-bottom: 26px;
    border: none;
  }

  .descr__more {
    padding: 0 16px;
    text-align: center;
  }

  .descr__more_mob {
    padding-bottom: 65px;
  }

  .price__left {
    justify-content: center;
    margin-bottom: 65px;
  }

  .aboutus {
    padding: 0 0 65px 0;
  }

  .aboutus__title {
    margin-bottom: 28px;
    text-transform: uppercase;
  }
}

@media (max-width: 768px) {
  ul {
    padding: 0;
  }

  .text_md,
  .text_sm,
  .advert__text {
    font-size: 18px;
  }

  .header__tel,
  .header__phone_img {
    font-size: 16px;
  }

  .about__descr {
    text-align: center;
  }

  .gallery {
    grid-template-columns: 1fr;
    padding: 65px 0;
  }

  .footer__copy {
    font-size: 10px;
  }

  .aboutus__phone {
    justify-content: flex-start;
  }
}

/* #endregion */
